{
    "extends": "shellscape",
    "globals": {
      "document": true,
      "WebSocket": true,
      "window": true,
      "__WS_PORT__": true,
      "__webpack_hash__": true
    },
    "rules": {
      "no-console": "off"
    }
  }